/* base styles */

.ribbon {
    margin: 0%;
    position: relative;
    transform: rotate(-45deg);
    transform-origin: 55% 300%;
    background-color: #000000;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    float: left;
    width: 215px;
    border: 1px solid #04afff;;
}

a {
    text-decoration-line: none;
    color: #04afff;
}